
# conda install all the deps

conda create -n ldrd_demo xpdan xpdtools shed rapidz xonsh python-graphviz

source activate ldrd_demo

conda uninstall --force xpdan xpdtools shed rapidz

# source install actively developed things

# format github remote (branch)

git@github.com:CJ-Wright/xpdAn.git (csi_demo)
git@github.com:xpdAcq/xpdtools.git (master)
git@github.com:xpdAcq/SHED.git (master)
git@github.com:xpdAcq/rapidz.git (master)

# Note that you will need to change the environment in the run.xsh to be ldrd_demo 
