
# conda install all the deps

conda create -n ldrd_demo xpdan xpdtools shed rapidz

conda uninstall --force xpdan xpdtools shed rapidz

# source install actively developed things

# format github remote (branch)

git@github.com:CJ-Wright/xpdAn.git (csi_demo)
git@github.com:xpdAcq/xpdtools.git (master)
git@github.com:xpdAcq/SHED.git (master)
git@github.com:xpdAcq/rapidz.git (master)
